@font-face {
  font-family: "iconfont"; /* Project id 2308334 */
  src: url('iconfont.woff2?t=1651479519698') format('woff2'),
       url('iconfont.woff?t=1651479519698') format('woff'),
       url('iconfont.ttf?t=1651479519698') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\e605";
}

.icon-refresh1:before {
  content: "\e653";
}

.icon-jurassic_company:before {
  content: "\e6be";
}

.icon-zuzhijiagou:before {
  content: "\e60b";
}

.icon-approval:before {
  content: "\e793";
}

.icon-approval1:before {
  content: "\e885";
}

.icon-clear:before {
  content: "\e600";
}

.icon-search_clear:before {
  content: "\e61c";
}

.icon-houses:before {
  content: "\e611";
}

.icon-house:before {
  content: "\e63a";
}

.icon-add:before {
  content: "\e667";
}

.icon-arrow-right-circle:before {
  content: "\e669";
}

.icon-arrow-down:before {
  content: "\e66a";
}

.icon-arrow-right:before {
  content: "\e66b";
}

.icon-arrow-left-circle:before {
  content: "\e66c";
}

.icon-close:before {
  content: "\e66d";
}

.icon-direction-down:before {
  content: "\e66f";
}

.icon-direction-right:before {
  content: "\e670";
}

.icon-direction-up:before {
  content: "\e671";
}

.icon-direction-left:before {
  content: "\e672";
}

.icon-minus:before {
  content: "\e67a";
}

.icon-arrow-up:before {
  content: "\ec37";
}

.icon-arrow-left:before {
  content: "\ec38";
}

.icon-loading:before {
  content: "\e676";
}

.icon-success:before {
  content: "\e67f";
}

.icon-refresh:before {
  content: "\ec08";
}

.icon-dingwei:before {
  content: "\ec32";
}

.icon-gaojing:before {
  content: "\ec35";
}

.icon-guangbo:before {
  content: "\ec36";
}

.icon-browse:before {
  content: "\e666";
}

.icon-hide:before {
  content: "\e673";
}

.icon-ashbin:before {
  content: "\e665";
}

.icon-no_data:before {
  content: "\e613";
}

.icon-add-circle:before {
  content: "\e664";
}

.icon-elipsis:before {
  content: "\e66e";
}

.icon-select:before {
  content: "\e67e";
}

.icon-location:before {
  content: "\e65b";
}

.icon-Delete:before {
  content: "\e661";
}

.icon-jy-ExclamationCircle-Outlined:before {
  content: "\e607";
}

.icon-jy-CloseCircle-Outlined:before {
  content: "\e608";
}

.icon-jy-Download-Outlined:before {
  content: "\e614";
}

.icon-search:before {
  content: "\e616";
}

.icon-setting:before {
  content: "\e617";
}

.icon-ArrowDown:before {
  content: "\e60a";
}

.icon-ArrowLeft:before {
  content: "\e60f";
}

.icon-ArrowRight:before {
  content: "\e612";
}

.icon-ArrowUp:before {
  content: "\e615";
}

.icon-help:before {
  content: "\e92c";
}

.icon-help1:before {
  content: "\e964";
}

